/* start variables */
:root{
    --main-color: #F26419;
    --first-color: #001524;
    --secondary-color: #e8e9ed;
    --third-color: #86BBD8;
    --fourth-color: #F6AE2D;
    --fifth-color: #6C757D;
}
/* end variables */
/* Start componant */

/* End componant */
/* start global rules */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global rules */ 
/* start headr*/

header{
    margin: 20px auto;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
}
header .container .types{
    display: flex;
}
header .container .types li a{
    text-decoration: none;
    padding: 20px 30px;
    color: var(--first-color);
    font-size: 17px;
    transition: all 0.3s ease;
}
header .container .types li a:hover{
    color: var(--main-color);
    background-color: var(--third-color);
    border-top: 3px solid var(--main-color);
}
/* end headr */
/* Start Welcome */
.welcome{
    background-color: var(--secondary-color);
    margin-top: -5px;
    
}
.welcome .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome .container .text{
    width: 48%;
}
.welcome .container .text h1{
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
    color: var(--first-color);
}
.welcome .container .text p{
    color: var(--fifth-color);
    font-size: 21px;
    font-weight: 400;
    line-height: 1.6;
}
.welcome .container .images{
    width: 48%;
    
}
.welcome .container .images img{
    width: 90%;
    animation-duration: 8s;
    animation-delay: 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: translateY;
}
@keyframes translateY {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-30px);
    }
}
/* end welcome */
/* Start arrow */
.arrow-down {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px auto 50px;
    
}
.arrow-down .fa-angles-down{
    color: var(--main-color);
    font-size: 35px;
    animation-duration: 1.5s;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: translateY;
}

@keyframes translateY {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
    75%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-30px);
    }
}
/* end arrow */
/* Start Articles */
.articles .titles{
    width: fit-content;
    padding: 12px 20px;
    margin-top: 20px;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid var(--first-color);
}
.articles .titles:hover{
    color: white;
    background-color: var(--fourth-color);
    border: none;
    transition: 0.3s;
}
.articles .titles::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.articles .titles::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -45px;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.articles .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.articles .container .box{
    background-color: var(--secondary-color);
    width: calc((100% / 4) - 2.5%);
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    transition: 0.5s;
}
.articles .container .box:hover{
    transform: translateY(-15px);
}
.articles .container .box img{
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
}
.articles .container .box .text{
    padding: 20px 15px;
    border-bottom: 1px solid var(--fifth-color);
}
.articles .container .box .text h4{
    font-size: 20px;
    padding-bottom: 10px;
}
.articles .container .box .text p{
   line-height: 1.5;
   font-size: 15px;
   color: var(--fifth-color);
}
.articles .container .box .more{
   display: flex;
   justify-content: space-between;
   padding: 20px 15px;
}
.articles .container .box .more h5{
   color: var(--main-color);
   font-size: 16px;
   font-weight: bold;
}
.articles .container .box .more i{
    color: var(--main-color);
    font-size: 18px;
}
.articles .container .box:hover > .more i{
    transition: 0.3s;
    animation-duration: 0.3s;
    animation-delay: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-name: translateX;
}
@keyframes translateX {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(5px);
    }
    }
/* End Articles*/
  