/* start variables */
:root{
    --main-color: #F26419;
    --first-color: #001524;
    --secondary-color: #e8e9ed;
    --third-color: #86BBD8;
    --fourth-color: #F6AE2D;
    
}
/* end variables */
/* start global rules */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}

ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
header{
    margin: 20px auto;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container .logo a{
    text-decoration: none;
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
}
header .container .types{
    display: flex;
}
header .container .types li a{
    text-decoration: none;
    margin-right: 80px;
    color: var(--first-color);
    font-size: 17px;
    transition: all 0.3s ease;
}
header .container .types li a:hover{
    color: var(--main-color);
}
/* small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* end global rules */   